body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;


    background: url(../images/index.jpg) no-repeat fixed center 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

}
